<html>
<head>
<title>Search Analysis</title>
<link href="style.css" rel="stylesheet">
</head>
<body>
<div class="header">
<form>
<h1>Search Analysis</h1>
<div class="form-box">
<input type="text" class="search-box" 
placeholder="Search Anything You Want">
<!-- <button class="search-btn" 
type="button">Search</button> -->
<br><br>
<button class="shows-btn" 
type="button"><a href="/my-link/">Shows</a></button>
<button class="course-btn" 
type="button"><a href="/my-link/">Course</a></button>
<button class="stock-btn" 
type="button"><a href="/my-link/">Stocks</a></button>
</div>

</form>

</div>

</body>
</html>
